Package: alarmcallback-jabber
Version: 1.0-SNAPSHOT
Architecture: all
Maintainer: info@example.com
Section: web
Priority: optional
Depends: default-jre-headless | default-jre
Description: Graylog2 alarmcallback-jabber plugin.
